@import '../../../../../themes/_main.scss';
@import '../../../../../styles.scss';

.topbar {
  color: $gray-800 !important;
  background: lightgray;
  transition: all $transition-time;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  box-shadow: 0 0 8px 0 $gray-800, 0 0 10px 0 $gray-800;
}

.topbar .topbar-content .nav-link {
  color: $gray-800 !important;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.topbar-topic {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 18px;
  color: $gray-600 !important;
}

.dark-background {
  background: whitesmoke;
}

.hidden-input {
  width: 0px;
  height: 0px;
}

.nav-item-input {
  background-color: transparent;
  border-style: none;
  margin-right: 12px;
  border-bottom: 1px solid lightgray;
}