<div class="d-flex flex-column">
  <nav class="topbar navbar navbar-expand-lg p-0" [ngClass]="{'dark-background': (isTabletSize | async) }">

    <div class="d-flex flex-row flex-nowrap p-3">
      <a routerLink="/" >
        <img src="assets/brand/icon.svg" height="30">
      </a>
    </div>

    <div class="navbar-toggler">
      <div class="d-flex">
        <div class="btn-group dropleft">
          <a class="nav-link pl-3" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons">person</i>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item">Login</button>
            <button class="dropdown-item">Sign Up</button>
            <button class="dropdown-item">Newsletter</button>
          </div>
        </div>
        <a class="nav-link pl-3">
          <i class="material-icons">menu</i>
        </a>
      </div>
    </div>

    <div id="topbar-content" class="collapse navbar-collapse topbar-content">
      <ul class="navbar-nav ml-auto pr-3">
        <li class="nav-item">
          <a class="nav-link pl-3" (click)="onToggleSearch()">
            <i class="material-icons">search</i>
          </a>
        </li>
        <li class="nav-item" [ngClass]="{'hidden-input': !toggleSearch }">
          <a class="nav-link pl-3" [ngClass]="{'hidden-input': !toggleSearch }">
            <input [ngClass]="{'hidden-input': !toggleSearch }" type="" class="nav-item-input" placeholder="tags..."
              (focusout)="toggleSearch = false" #searchField>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link pl-3">
            <i class="material-icons">settings</i>
          </a>
        </li>
        <li class="nav-item">
          <div class="btn-group dropleft">
            <a class="nav-link pl-3" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="material-icons">person</i>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <button class="dropdown-item">Login</button>
              <button class="dropdown-item">Sign Up</button>
              <button class="dropdown-item">Newsletter</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>
