<div class="container-fluid">
  <div class="row">

    <!-- Marqueurs -->
    <div class="col-12 col-md-4 col-lg-4 markers-container">
      <div class="col-12">
        <h4 class="m-4">Marqueurs Disponibles</h4>
        <div *ngFor="let item of markersDict | keyvalue">
          <div *ngFor="let marker of item.value" class="card p-3">
            <div class="card-title">
              <h4>
                {{ marker?.properties.address }} - {{ marker?.properties.city }}
              </h4>
            </div>
            <div class="card-body">
              <p>Type d'oiseau: <strong>{{ marker?.properties.birdType }}</strong></p>
              <button class="btn btn-outline-success mx-2" (click)="onFlyToMarker(marker)">Localiser</button>
              <button *ngIf="(currentUser | async)?.uid === item.key" class="btn btn-outline-danger" (click)="removeMarker(marker?.key)">Supprimer</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Settings -->
    <div class="col-12 col-md-8 col-lg-8">
      <h4 class="m-4">Ajoute tes marqeurs sur la carte</h4>

      <div class="row mt-3">
        <div class="col-12">
          <app-mapbox></app-mapbox>
        </div>
      </div>

      <div class="row mt-3">

        <div class="col-12">
          <form [formGroup]="markerForm">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Type d'oiseau</label>
                <select class="form-control" id="inputEmail4" formControlName="birdType">
                  <option value="moineau">Moineau</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="inputMessage">Message</label>
                <input type="text" class="form-control" id="inputMessage" formControlName="message"
                  placeholder="message...">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputAddress">Adresse</label>
                <input type="text" class="form-control" id="inputAddress" formControlName="address"
                  placeholder="adresse">
              </div>
              <div class="form-group col-md-6">
                <label for="inputCity">Ville</label>
                <input type="text" class="form-control" id="inputCity" formControlName="city" placeholder="ville">
              </div>
            </div>
            <button type="submit" class="btn btn-outline-secondary" (click)="createNewMarker()">Ajouter</button>
          </form>
        </div>

      </div>

    </div>

  </div>

</div>