<div *ngIf="(isLoading | async)" id="loading" class="d-flex justify-content-center align-items-center loading">
  <app-loader isLoading="true" message="Loading..."></app-loader>
</div>
<div class="shell-wrapper flex-sm-column flex-md-column flex-lg-row">
  <div id="app-header-wrapper">
    <app-header></app-header>
  </div>
  <div class="content-wrapper with-topbar">
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <app-footer></app-footer>
  </div>
</div>